.App {
  height: 800px;
  width: 900px;
  background-color: antiquewhite;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

}
.header{
    background-color: rgb(110, 201, 201);
    width: 900px;
    height: 70px;
}